---
layout: null
title: Highland Park Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
        <!-- Header -->
        <header id="header">
          <img src="{{"/images/logothin.svg" | absolute_url }}" alt="" class="svg"/>


        </header>


			<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main">
            <div class="container">
              <button class="btn btn-outline-warning mr-2" onClick="cartLS.destroy()">Destroy</button>
              <button class="btn btn-outline-warning mr-2" onClick="cartLS.list()">Checkout</button>

              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h2>Cart</h2>
                </div>
                <div class="card-body">
                  <table class="table">
                    <tbody class="cart">
                    </tbody>
                    <tfoot>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-right">Total: <strong class="total"></strong></td>
                      <td></td>
                    </tfoot>
                  </table>
                </div>
                <button class= "button" id="checkout-button-stripe" role="link" type="button">
                  Checkout
                </button>

                <div id="error-message"></div>
              </div>
            </div>




                <!-- Footer -->
    							<footer>
                    <ul class="actions">
                      <li><a href="{{ "/process/" | absolute_url }}" class="button">Our Process</a></li>
                    </ul>
							</footer>
					</div>
				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    <script src="{{ "/assets/js/productlist.js" | absolute_url }}"></script>

    <script>
		function renderCart(items) {
			const $cart = document.querySelector(".cart")
			const $total = document.querySelector(".total")

			$cart.innerHTML = items.map((item) => `
					<tr>
						<td>${item.name}</td>
            <td></td>
						<td>${item.quantity}</td>
						<td style="width: 60px;">
							<button type="button" class="btn btn-block btn-sm btn-outline-primary"
								onClick="cartLS.quantity(${item.id},1)">+</button>
						</td>
						<td style="width: 60px;">
							<button type="button" class="btn btn-block btn-sm btn-outline-primary"
								onClick="cartLS.quantity(${item.id},-1)">-</button>
						</td>
						<td class="text-right">$${item.price}</td>
						<td class="text-right"><Button class="btn btn-primary" onClick="cartLS.remove(${item.id})">Delete</Button></td>
					</tr>`).join("")

			$total.innerHTML = "$" + cartLS.total()
		}
		renderCart(cartLS.list())
		cartLS.onChange(renderCart)
	</script>

<script>
(function() {
  var stripe = Stripe('pk_test_51MJl9YG47Qvg6QA2wzGrgHhhNBB1G3ztgu19d6EaaMkjWuGfHrOf4M6dYM8MpTBOSPtXQ9yiAIcZs5LjHIhiAcUg00ep05RmNz');

  var checkoutButton = document.getElementById('checkout-button-stripe');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1MXfzXG47Qvg6QA2AfHSOQE3', quantity: 1}, {price: 'price_1MYDyoG47Qvg6QA2phNIxwsr', quantity: 2}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: window.location.protocol + '//highlandparkfurniture.ca/success',
      cancelUrl: window.location.protocol + '//highlandparkfurniture.ca/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();


  </script>
</body>

</html>
