---
layout: null
title: Highland Park Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
        <!-- Header -->
        <header id="header">
          <img src="{{"/images/logothin.svg" | absolute_url }}" alt="" class="svg"/>


        </header>


			<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main">
            <div class="container">
              <button class="btn btn-outline-warning mr-2" onClick="cartLS.destroy()">Destroy</button>
              <button class="btn btn-outline-warning mr-2" onClick="cartLS.list()">Checkout</button>

              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h2>Cart</h2>
                </div>
                <div class="card-body">
                  <table class="table">
                    <tbody class="cart">
                    </tbody>
                    <tfoot>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="text-right">Total: <strong class="total"></strong></td>
                      <td></td>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/process/" | absolute_url }}" class="button">Our Process</a></li>
                  <li><a href="{{ "/portfolio/" | absolute_url }}" class="button">Our Portfolio</a></li>
                </ul>
							</footer>
					</div>
				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}
    <script>
		function renderCart(items) {
			const $cart = document.querySelector(".cart")
			const $total = document.querySelector(".total")

			$cart.innerHTML = items.map((item) => `
					<tr>
						<td>#${item.id}</td>
						<td>${item.name}</td>
						<td>${item.quantity}</td>
						<td style="width: 60px;">
							<button type="button" class="btn btn-block btn-sm btn-outline-primary"
								onClick="cartLS.quantity(${item.id},1)">+</button>
						</td>
						<td style="width: 60px;">
							<button type="button" class="btn btn-block btn-sm btn-outline-primary"
								onClick="cartLS.quantity(${item.id},-1)">-</button>
						</td>
						<td class="text-right">$${item.price}</td>
						<td class="text-right"><Button class="btn btn-primary" onClick="cartLS.remove(${item.id})">Delete</Button></td>
					</tr>`).join("")

			$total.innerHTML = "$" + cartLS.total()
		}
		renderCart(cartLS.list())
		cartLS.onChange(renderCart)
	</script>
</body>

</html>
