---
layout: null
title: Highland Park Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE html>

  <head>
  {% include head.html %}
  </head>
  <body>
    <div id="wrapper" class="fade-in">

      <!-- Header -->
      <header id="header">
        <img src="{{"/images/logothin.svg" | absolute_url }}" alt="" class="svg"/>
      </header>


      <!-- Nav -->
        <nav id="nav">
          {% include nav.html %}
        </nav>
<div id="main">
      <!-- Display a payment form -->
      <form action="/pages/api/checkout_sessions" method="POST">
          <button type="submit" role="link">
            Checkout
          </button>
			</div>
            {% include foot.html %}
            {% include scripts-main.html %}
</div>
  </body>
</html>
