---
layout: null
title: Whiskey Stick Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		   <img src="{{ "/images/logothin.svg" | absolute_url }}" alt="" />

						<h1>Custom Stone, Metal & Wood Pieces</h1>
            <h2>Handcrafted in Calgary</h2>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>

				<!-- Header -->
				<header id="header">
					<img src="{{"/images/logothin.svg" | absolute_url }}" alt="" class="svg"/>


				</header>


				<!-- Nav -->
<!--				<nav id="nav">
            {% include nav.html %}
					</nav>
-->	
				<!-- Main -->
<!-- 					<div id="main">
            <div id="snackbar">Item added to cart</div>
					<div style="padding: .5rem 0 .5rem">
						<a href="{{ "/images/squarepin.jpg" | absolute_url }}" data-lightbox="preview" data-title="Medium Grey Slab with White Kintsugi and Hammered Black Squarepin Legs">
							<z class="image prev"><img src="{{ "/images/squarepin-prev.jpg" | absolute_url }}"/></z>
						</a>
						</div>
<p style="text-align:center; padding-top: 2rem;"><b>Head over to the Portfolio tab to view more.<br>If you're interested in ordering, check out the Process tab to see how we do things.<br>Then scroll down to the Contact section when you're ready to chat.</b></p>

<div class="softwoodtop">

  <h2 id="productname"></h2>

  <h2 id="productprice"></h2>
  <noscript id="addtocart"></noscript>
  <button type="button"
    onClick="snackBar(); cartLS.add({id: 'price_1MXfzXG47Qvg6QA2AfHSOQE3', name: 'Softwood Top', price: 300})">Add to
    Cart</button>

</div>
<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Hardwood Top</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">$350</h1>
    <button type="button" class="btn btn-block btn-outline-primary"
      onClick="snackBar(); cartLS.add({id: 'price_1MYDxlG47Qvg6QA2GxxzUwBG', name: 'Hardwood Top', price: 350})">Add to
      Cart</button>
  </div>

</div>
<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Puma St Runner</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">$130</h1>
    <button type="button" class="btn btn-block btn-outline-primary"
      onClick="cartLS.add({id: 3, name: 'Puma St Runner', price: 130})">Add to
      Cart</button>
  </div>
</div>
-->



					<!-- Footer -->
<!--								<footer>
                <ul class="actions">
                  <li><a href="{{ "/process/" | absolute_url }}" class="button">Our Process</a></li>
                  <li><a href="{{ "/portfolio/" | absolute_url }}" class="button">Our Portfolio</a></li>
                </ul>
							</footer>
					</div>
-->				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    <script src="{{ "/assets/js/products.js" | absolute_url }}"></script>

	</body>
		<a href="{{ "/images/pine-trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Pecan Stained Pine Top and Matte Black Trapezoidal Base"></a>
		<a href="{{ "/images/copper-bean-3hp.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey 'Bean' with Copper Kintsugi and 3 Bar Hairpin Legs"></a>
		<a href="{{ "/images/trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey Slab with Mint Kintsugi and Trapazoidal Legs"></a>
		<a href="{{ "/images/greycedar2_1210x.jpg" | absolute_url }}" data-lightbox="preview" data-title="Pickled Cedar Top and Matte Black Box Base"></a>
		<a href="{{ "/images/gold-hp-endtables.jpg" | absolute_url }}" data-lightbox="preview" data-title="Medium Grey Circles with Gold Kintsugi and Natural Hairpin Legs"></a>
		<a href="{{ "/images/cedar-box.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Stained Cedar Top and Matte Black Box Base"></a>
</html>
