---
layout: null
title: Whiskey Stick Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		   <img src="{{ "/images/logothin.svg" | absolute_url }}" alt="" />

						<h1>Furniture Company</h1>
            <h2>New Website Coming Soon</h2>
						<ul class="actions">
							<li><a href="#footer" class="button icon solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>

				<!-- Header -->




        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}


	</body>
		
</html>
