---
layout: null
title: Whiskey Stick Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		   <img src="{{ "/images/logothin.svg" | absolute_url }}" alt="" />

						<h1>Furniture Company</h1>
            <h2>New Website Coming Soon</h2>
						<ul class="actions">
							<li><a href="#footer" class="button icon solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>

				<!-- Header -->
				<header id="header">
					<img src="{{"/images/logothin.svg" | absolute_url }}" alt="" class="svg"/>


				</header>



        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    <script src="{{ "/assets/js/products.js" | absolute_url }}"></script>

	</body>
		<a href="{{ "/images/pine-trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Pecan Stained Pine Top and Matte Black Trapezoidal Base"></a>
		<a href="{{ "/images/copper-bean-3hp.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey 'Bean' with Copper Kintsugi and 3 Bar Hairpin Legs"></a>
		<a href="{{ "/images/trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey Slab with Mint Kintsugi and Trapazoidal Legs"></a>
		<a href="{{ "/images/greycedar2_1210x.jpg" | absolute_url }}" data-lightbox="preview" data-title="Pickled Cedar Top and Matte Black Box Base"></a>
		<a href="{{ "/images/gold-hp-endtables.jpg" | absolute_url }}" data-lightbox="preview" data-title="Medium Grey Circles with Gold Kintsugi and Natural Hairpin Legs"></a>
		<a href="{{ "/images/cedar-box.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Stained Cedar Top and Matte Black Box Base"></a>
</html>
